@page
@using Api_Telecamere_Library
@model CamHouse.Pages.CrudPages.ViewModel
@{
    Layout = "~/Pages/Layout/_ViewLayout.cshtml";
}

<div class="Body-view">
    <div class="row">
        <div class="nav-mid">
            <form class="SBForm" method="get">
                <input type="text" placeholder="Cerca..." class="searchbox" name="SearchString" />
                <input type="submit" class="cerca" value="Cerca">
            </form>
            <form class="FForm" method="get">
                <i class='bx bxs-star'></i>
                <input type="submit" name="pref" class="perferiti-text" value="Preferiti">
            </form>
            <form class="STTForm" method="get">
                <i class='bx bxs-user-voice'></i>
                <input type="submit" class="speak-text" value="Speak">
            </form>
        </div>
        <div class="colcustom">

            @foreach (var element in Model.EleView)
            {
                <div class="cardcustom">
                    <div class="cardcustom-image">
                        <img src="https://localhost:5001/api/url=http:%2F%2F202.245.13.81:80%2Fcgi-bin%2Fcamera%3Fresolution=640&amp;quality=1&amp;Language=0&amp;1645207194" alt="card-video">
                    </div>
                    <div class="cardcustom-text">
                        <span class="text">| Name » @element.nome</span>
                        <span class="text">| Numero Like » @element.num_like</span>
                        <span class="text">| Numero Salvati » @element.num_salvati</span>
                        <hr />
                        <a class="BtnGo" asp-page="./CamJoinView" asp-route-id="@element.id">Show me</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<div class="rowcustom">

    @for (int i = (Model.pageNumber - 1); i < (Model.pageNumber + 2); i++)
    {
        if (i == -1)
        {

        }
        else if (((Model.pageNumber + 1) * Model.elementnumber) >= Model.CompleteList.Count && Model.pageNumber < i)
        {

        }
        else
        {

            if (Model.pageNumber == i)
            {
                <form class="numberpage" method="post">
                    <input type="hidden" asp-for="@Model.pageNumber" value="@(i)">
                    <input style="background-color:black; color:white" type="submit" value="@(i+1)">
                </form>
            }
            else
            {

                <form class="numberpage" method="post">
                    <input type="hidden" asp-for="@Model.pageNumber" value="@(i)">
                    <input type="submit" value="@(i+1)">
                </form>
            }
        }
    }
</div>

