@page
@model ViewModel
@{
    Layout = "~/Pages/Layout/_ViewLayout.cshtml";
    ViewData["Title"] = "Home page";
}

@*<table class="table table-striped table-dark">

    <tr>
    <th>Nome</th>
    <th>Link</th>
    <th>Numero Like</th>
    <th>Numero Salvati</th>
    </tr>



    <tbody>
    @foreach (var item in Model.elecamere)
    {
    <tr>
    <td>@item.nome</td>
    <td>@item.link</td>
    <td>@item.num_like</td>
    <td>@item.num_salvati</td>


    <td>
    <b><a style="color:darkorange" asp-page="./Edit" asp-route-id="@item.id">Edit</a></b>

    </td>

    </tr>
    }
    </tbody>

    </table>*@

<div class="Body-view">
    <div class="row">
        <div class="col-md-7">

            <div class="cardcustom">
                <div class="cardcustom-image">
                    <img src="~/Img/forgotpassword.png" alt="card-video">
                </div>
                <div class="cardcustom-text">
                    <span class="text">| Name » item.nome</span>
                    <span class="text">| Numero Like » item.num_like</span>
                    <span class="text">| Numero Salvati » item.num_salvati</span>
                    <hr />
                    <a class="BtnGo" href="item.link">Show me</a>
                </div>
            </div>

        </div>
    </div>
</div>

@*<div class="Body-View">
    <div class="row">
    <div class="col-md-7" style="background-color: black;">
    @foreach (var item in Model.elecamere)
    {
    <div class="cardcustom">
    <div class="cardcustom-image">
    <img src="~/Img/forgotpassword.png" alt="card-video">
    </div>
    <div class="cardcustom-text">
    <span class="text">| Name » @item.nome</span>
    <span class="text">| Numero Like » @item.num_like</span>
    <span class="text">| Numero Salvati » @item.num_salvati</span>
    <hr />
    <a href="@item.link">Show me</a>
    </div>
    </div>
    }
    </div>
    </div>
    </div>*@

<div class="row">
    @if (Model.pageNumber == null)
    {
        Model.pageNumber = 1;
    }
    @for (int i = ((int)Model.pageNumber - 1); i < ((int)Model.pageNumber + 2); i++)
    {
        if (i == -1)
        {

        }
        else
        {
            <form method="post">
                <input type="hidden" asp-for="@Model.lista">
                <input type="hidden" asp-for="@Model.elecamere">
                <input type="hidden" asp-for="@Model.pageNumber" value="@i">
                <input type="submit" value="@(i+1)">
            </form>
        }
    }
</div>


